html {
  scroll-behavior: smooth;
}
#body_index {
	background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4)), url("data/img/pattern-8940646_1280.png");
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	color: black;
}
#body_projet {
	background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4)), url("data/img/pattern-8940646_1280.png");
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	color: black;
}
#body_inscription {
	background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4)), url("data/img/pattern-8940646_1280.png");
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	color: black;
}
#body_contact {
	background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4)), url("data/img/pattern-8940646_1280.png");
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	color: black;
}
#body_mentions_legales {
	background-color: #FFF5E1;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	color: black;
}

header {
	background-color: rgba(255, 211, 110, 0.95);
	border-radius: 200rem;
	display: flex;
	flex: auto;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	padding-top: 2.5vh;
	padding-bottom: 2.5vh;
}
header #club_couture {
	font-family: "Knewave", system-ui;
  	font-style: normal;
	font-size: x-large;
	color: white;
	text-decoration: none;
	display: block;
	margin-left: 5%;
	margin-right: 5%;
	transition: color 0.3s ease;
}
header #club_couture:hover {
	color: #F95C8E;
}
header #projet {
	font-size: x-large;
	color: white;
	text-decoration: none;
	display: block;
	margin-left: 5%;
	margin-right: 5%;
	transition: color 0.3s ease;
}
header #projet:hover {
	color: #F95C8E;
}
header #inscription {
	font-size: x-large;
	color: white;
	text-decoration: none;
	display: block;
	margin-left: 5%;
	margin-right: 5%;
	transition: color 0.3s ease;
}
header #inscription:hover {
	color: #F95C8E;
}
header #nous_contacter {
	font-size: x-large;
	color: white;
	text-decoration: none;
	display: block;
	margin-left: 5%;
	margin-right: 5%;
	transition: color 0.3s ease;
}
header #nous_contacter:hover {
	color: #F95C8E;
}
header a {
    position: relative;
    color: white;
    text-decoration: none; /* Supprime le soulignement par défaut */
    transition: color 0.3s ease; /* Transition pour la couleur */
}
header a.hyperlien::after {
	color: white;
	background-color: white;
    content: ""; /* Crée une ligne sous le texte */
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px; /* Épaisseur de la ligne */
    transform: scaleX(1); /* Ligne visible par défaut */
    transform-origin: left; /* Point de départ de l'animation */
    transition: transform 0.3s ease; /* Animation fluide */
}
header a.hyperlien.active::after {
	background-color: #F95C8E;
    color: #F95C8E;
    transform: scaleX(1); /* Ligne visible pour l'onglet actif */
}
header a.hyperlien.active {
    color: #F95C8E;
}
header a:hover {
    color: #F95C8E; /* Change la couleur du texte au survol */
}
header a:hover::after {
    background-color: #F95C8E; /* Change la couleur de la ligne au survol */
}

footer {
	background-color: rgba(255, 211, 110, 0.95);
	border-radius: 200px;
	display: flex;
    	justify-content: center;
    	align-items: center;
	text-align: center;
}
footer p {
	font-size: medium;
	color: black;
	padding-left: 10px;
	padding-right: 10px;
}

#h1 {
    width: 35%;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
#flèche2 {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: auto;
	width: 5%;
}

#le_club_couture {
	font-family: "Knewave", system-ui;
  	font-style: normal;
	color: #A8D5BA;
	text-align: center;
	font-size: 500%;
}

.description_index {
	background-color: #FFF5E1;
	border-radius: 7.5rem;
    	padding-bottom: 2.5px;
    	padding-top: 2.5px;
    	margin-top: 10vh;
    	margin-bottom: 5vh;
}

.paragraphe_index {
	font-family: "Roboto", sans-serif;
	font-optical-sizing: auto;
	font-weight: normal;
	font-style: normal;
	font-variation-settings: "wdth" 100;
	padding-left: 5%;
	padding-right: 5%;
	font-size: 175%;
}

.texte_centre {
	display: grid;
	grid-template-columns: 40% 10% 40%;
        grid-template-rows: auto;
        grid-column-gap: 30px;
        grid-row-gap: 20px;
        align-items: center;
}
.texte_gauche {
	display: grid;
	grid-template-columns: 60% 30%;
        grid-template-rows: auto;
        grid-column-gap: 30px;
        grid-row-gap: 20px;
        align-items: center;
}
.texte_droite {
	display: grid;
	grid-template-columns: 30% 60%;
        grid-template-rows: auto;
        grid-column-gap: 30px;
        grid-row-gap: 20px;
        align-items: center;
}
.img {
	width: 100%;
	border-radius: 5rem;
}


.hyperlien {
    position: relative;
    color: black;
    text-decoration: none; /* Supprime le soulignement par défaut */
    transition: color 0.3s ease; /* Transition pour la couleur */
}
.hyperlien::after {
    content: ""; /* Crée une ligne sous le texte */
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px; /* Épaisseur de la ligne */
    background-color: black; /* Couleur de la ligne */
    transition: transform 0.3s ease; /* Animation de retrait */
    transform-origin: left; /* Point de départ de l'animation */
    transform: scaleX(1); /* Ligne visible par défaut */
}
.hyperlien:hover {
    color: #F95C8E; /* Change la couleur du texte au survol */
}
.hyperlien:hover::after {
	background-color: #F95C8E;
    transform: scaleX(0); /* Réduit la ligne à 0 (disparaît) */
}

#projet {
	font-family: "Knewave", system-ui;
  	font-style: normal;
  	color: #A8D5BA;
	text-align: center;
	font-size: 500%;
}
.description_projet {
	background-color: #FFF5E1;
	border-radius: 7.5rem;
    	padding-bottom: 2.5px;
    	padding-top: 2.5px;
    	margin-top: 10vh;
    	margin-bottom: 5vh;
}
.description_projet .texte_gauche {
	margin-left: 1%;
}
.description_projet .texte_droite {
	margin-left: 5%;
}
.paragraphe_projet {
	font-family: "Roboto", sans-serif;
	font-optical-sizing: auto;
	font-weight: normal;
	font-style: normal;
	font-variation-settings:
	"wdth" 100;
	padding-left: 5%;
	padding-right: 5%;
	font-size: 175%;
}


#inscription {
	font-family: "Knewave", system-ui;
  	font-style: normal;
	color: #A8D5BA;
	text-align: center;
	font-size: 500%;
}
.description_inscription {
	background-color: #FFF5E1;
	border-radius: 7.5rem;
    	padding-bottom: 2.5px;
    	padding-top: 2.5px;
    	margin-top: 10vh;
    	margin-bottom: 5vh;
}
.paragraphe_inscription {
	font-family: "Roboto", sans-serif;
	font-optical-sizing: auto;
	font-weight: normal;
	font-style: normal;
	font-variation-settings:
	"wdth" 100;
	padding-left: 5%;
	padding-right: 5%;
	font-size: 175%;
	text-align: center;
}


#nous_contacter {
	font-family: "Knewave", system-ui;
  	font-style: normal;
	color: #A8D5BA;
	text-align: center;
	font-size: 500%;
}
.description_contact {
	background-color: #FFF5E1;
	border-radius: 7.5rem;
    	padding-bottom: 2.5px;
    	padding-top: 2.5px;
    	margin-top: 10vh;
    	margin-bottom: 5vh;
}
.description_contact .texte_centre {
	margin-left: 1%;
}
.paragraphe_contact {
	font-family: "Roboto", sans-serif;
	font-optical-sizing: auto;
	font-weight: normal;
	font-style: normal;
	font-variation-settings:
	"wdth" 100;
	padding-left: 5%;
	padding-right: 5%;
	font-size: 175%;
}
#eclat {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
#ou {
	font-family: "Roboto", sans-serif;
	font-optical-sizing: auto;
	font-weight: normal;
	font-style: normal;
	font-variation-settings:
	"wdth" 100;
	padding-left: 5%;
	padding-right: 5%;
	font-size: 175%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
#instagram {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.instagram {
	width: 55%;
}


#mentions_legales {
	font-family: "Knewave", system-ui;
  	font-style: normal;
	color: #A8D5BA;
	text-align: center;
	font-size: 500%;
}
.description_mentions_legales {
	background-color: #FFF5E1;
	border-radius: 7.5rem;
    	padding-bottom: 2.5px;
    	padding-top: 2.5px;
    	margin-top: 10vh;
    	margin-bottom: 5vh;
}
.paragraphe_mentions {
	font-family: "Roboto", sans-serif;
	font-optical-sizing: auto;
	font-weight: normal;
	font-style: normal;
	font-variation-settings:
	"wdth" 100;
    	padding-left: 5%;
    	padding-right: 5%;
    	font-size: 175%;
}
.titre_mentions {
	padding-left: 2.5%;
    	padding-right: 2.5%;
    	font-size: 225%;
}
